.image-list {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 300px));
  @media (max-width: 695px) {
    grid-template-columns: repeat(2, minmax(150px, 350px));
  }

  @media (max-width: 420px) {
    grid-template-columns: repeat(1, minmax(150px, 400px));
  }

  img {
    grid-row-end: span 2;
    max-width: 100%;
    min-height: 425px;
  }
}

.image-container {
  &:hover {
    opacity: 0.5;
    box-shadow: 0 0 2px 1px rgb(26, 36, 59);
  }
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 10px;
  background-color: rgba(19, 30, 59, 0.8);
  padding: 3px 8px;
  width: 90%;
  margin-left: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-self: center;
  margin-top: auto;
  flex-direction: column;
}
